
*{
	box-sizing:border-box;
}
body{
	margin:0;padding:0;font-family:Alef;color:#000000;
}
@font-face {
	font-family: Alef;
	src: url(../fonts/Alef.ttf);
}
@font-face {
	font-family: Abys;
	src: url(../fonts/Abys.otf);
}
@font-face {
	font-family: Acme;
	src: url(../fonts/Acme.ttf);
}
@font-face {
	font-family: Abeezee;
	src: url(../fonts/ABeeZee.otf);
}
a{text-decoration:none;}
/*main menu section*/
div.main-menu ul,li.spec{
	margin:0;padding:0;background-color:#fff; box-shadow:0px 1px 2px 0px rgba(0,0,0,0.3);list-style-type:none;overflow:hidden;position:fixed;
	width:100%;z-index:1;
}

a#title{
	padding:0px 25px;color:#000066;font-family:Acme;line-height:1.5;
}

div.main-menu ul li{
	float:left;
}
div.main-menu ul li.menu-right{
	float:right;
}

.active{
	background-color:#ffcc00
}

.active:over{
	background-color:#ffcc00;opacity:.9;
}

div.main-menu ul li a{
	text-decoration:none;padding:27px 15px;color:rgba(0,0,0,0.4);font-family:Abeezee;display:inline-block;font-weight:bold;font-size:14px;
}
div.main-menu ul li a:hover{
	background-color:#f2f2f2;color:#333;
}

li div.submenu-cont{
	display:none;position:absolute;background-color:#f2f2f2;max-width:150px;
}
li div.submenu-cont a{
	display:block;padding:8px 12px;border-bottom:1px solid #f3f3f3;
}

.menu-left h2{
	padding:0px 10px;color:#000066;
}

li[class*="menu"] a:hover div.submenu-cont{
	display:block;
}
li[class*="spec"]{
	list-style-type:none;display:inline-block;color:#000066;margin:0;padding:0px 10px;
}
#spec-left, #spec-ins{
	float:right;font-weight:bold;position:absolute;top:30px;right:10px;font-size:20px;cursor:pointer;padding:0px 5px;display:none;
}
#spec-left:hover, #spec-ins:hover{
	background-color:#f2f2f2
}
#spec-ins{
	font-size:30px;
}
li.spec{display:none}

#title:hover{
	background-color:none;
}

/*row and columns stylings...*/
.row{
	width:100%;background-color:#fff;
}
.row::after{
	content:"";display:block;clear:both;border-bottom:1px solid lightgrey;
}

.col-1{width:8.33%}
.col-2{width:16.66%}
.col-3{width:25%}
.col-4{width:33.33%}
.col-5{width:41.66%}
.col-6{width:50%}
.col-7{width:58.33%}
.col-8{width:66.66%}
.col-9{width:75%}
.col-10{width:83.33%}
.col-11{width:91.66%}
.col-12{width:100%}

[class*="col-"]{
	float:left;
}

/*first-row*/
div.first{
	margin-top:50px;
}

div.first .text,div.second .text{
	padding:70px 20px;
}

div.first .text h1,div.second .text h1{
	font-family:courier;font-size:45px;letter-spacing:5;word-spacing:10;color:#24248f;
}
div.second .text h1{
	font-size:30px;font-family:Acme;letter-spacing:0;word-spacing:0;font-weight:lighter;
}
div.first .text p,div.second .text p{
	font-size:20px;
}

div.image img{
	width:100%;height:500px;padding:50px 20px
}
.hmbtn{
	padding:15px 25px;border-radius:5px;border:none;margin:5px 8px;cursor:pointer;
}
.hmbtn:hover{
	box-shadow:0px 0px 3px 0px rgba(0,0,0,0.3)
}
.btn-cont{
	padding:10px;}

button.btn1{
	background-color:#ffcc00;}
	
button.btn2{
	background-color:#fe0101;opacity:.9;}
	
button.btn3{
	background-color:#3399ff;}

/*footer section starts here*/
div.footer{
	display:-webkit-flex; display:flex;justify-content:space-around;padding-bottom:60px;color: rgba(0,0,0,0.8)
}
div.footer h2,div.footer h3{
	color:#24248f;
}
div.footer-link li{
	list-style-type:none;line-height:1.5;font-weight:bold;
}
div.footer-link li a{
	color: rgba(0,0,0,0.8);
}

/*adaptive stylings goes here*/

@media screen and (max-width:800px){
	[class*="col-"]{
		width:100%;
	}
	div.footer{
		flex-direction:column;padding:10px 40px 50px;justify-content:center;
	}

div.main-menu ul li,div.main-menu ul li.menu-right{
	float:none;
}
div.main-menu ul{display:none;
}
#spec-left{
	display:inline-block;
}
li.spec{display:block}
#spec-ins{
	display:inline-block
}

}
